@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
  height: 100%
}

.table {
  width: 90vw;
  margin: 5vh auto;
}

.aside {
  float: left;
  margin-top: 2vw;
  margin-left: 12.5vw;
}

.row {

}

.row4{
  float: left;
}

.box {
  transition: all ease .2s;
  height: 5vw;
  width: 5vw;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: solid white 2px;
  text-rendering: optimizeLegibility;
  transform-origin: 0 0;
}

.box.is-open {
  transform: scale(6.0);
  border: solid white 4px;
  z-index: 100;
}

.name {
  font-size: 10px;
  text-align: center;
}

.abbrev {
  padding: 2px;
  margin: 0;
}

.hydrogen {
  margin-right: 70vw;
}

.basic-metal {
  background-color: #c6ffa4;
}

.non-metal {
  background-color: #ffa0f9;
}

.semi-metal {
  background-color: #aa6be8;
}

.transition-metal {
  background-color: #5a5fff;
}

.noble {
  background-color: #469fe8;
}

.halogen {
  background-color: #4dfff3;
}

.alkali-metal {
  background-color: #ffc384;
}

.alkaline-earth {
  background-color: #e87e9d;
}

.actinoid {
  background-color: #ff8691;
}

.lanthanide {
  background-color: #3ce877;
}

.right {
  float: right;
}

.left {
  float: left;
}

.left2 {
  margin-right: 47vw;
}

.left3 {
  margin-right: 36vw;
}
