@charset "utf-8";

.table {
  width: 90vw;
  margin: 0 auto;
}

.aside {
  float: left;
  margin-top: 2vw;
  margin-left: 12.5vw;
}

.row {

}

.row4{
  float: left;
}

.box {
  height: 5vw;
  width: 5vw;
  box-sizing: border-box;
  border: solid white 2px;
}

.box1 {

}

.hydrogen {
  margin-right: 70vw;
}

.basic-metal {
  background-color: yellow;
}

.non-metal {
  background-color: aqua;
}

.semi-metal {
  background-color: green;
}

.transition-metal {
  background-color: pink;
}

.noble {
  background-color: purple;
}

.halogen {
  background-color: tomato;
}

.alkali-metal {
  background-color: gray;
}

.alkaline-earth {
  background-color: orange;
}

.actinide {
  background-color: turquoise;
}

.lanthanide {
  background-color: PaleGoldenRod;
}

.right {
  float: right;
}

.left {
  float: left;
}

.left2 {
  margin-right: 47vw;
}

.left3 {
  margin-right: 36vw;
}
