---
title: Elements
---

<div class="table">
  <div class="row row1">
    <div class="box left box1 left hydrogen non-metal">H</div>
    <div class="box box1 right noble">He</div>
  </div>

  <div class="row row2">
    <div class="left left2">
      <div class="box left alkali-metal">Li</div>
      <div class="box left alkaline-earth">Be</div>
    </div>
    <div class="right">
      <div class="box left semi-metal">B</div>
      <div class="box left non-metal">C</div>
      <div class="box left non-metal">N</div>
      <div class="box left non-metal">O</div>
      <div class="box left halogen">F</div>
      <div class="box left noble">Ne</div>
    </div>
  </div>

  <div class="row row3">
  <div class="left left3">
      <div class="box left alkali-metal">Na</div>
      <div class="box left alkaline-earth">Mg</div>
    </div>
    <div class="right">
      <div class="box left basic-metal">Al</div>
      <div class="box left semi-metal">Si</div>
      <div class="box left non-metal">P</div>
      <div class="box left non-metal">S</div>
      <div class="box left halogen">Cl</div>
      <div class="box left noble">Ar</div>
    </div>
  </div>
  <div class="row row4">
    <div class="box left alkali-metal">K</div>
    <div class="box left alkaline-earth">Ca</div>
    <div class="box left transition-metal">Sc</div>
    <div class="box left transition-metal">Ti</div>
    <div class="box left transition-metal">V</div>
    <div class="box left transition-metal">Cr</div>
    <div class="box left transition-metal">Mn</div>
    <div class="box left transition-metal">Fe</div>
    <div class="box left transition-metal">Co</div>
    <div class="box left transition-metal">Ni</div>
    <div class="box left transition-metal">Cu</div>
    <div class="box left transition-metal">Zn</div>
    <div class="box left basic-metal">Ga</div>
    <div class="box left semi-metal">Ge</div>
    <div class="box left semi-metal">As</div>
    <div class="box left non-metal">Se</div>
    <div class="box left halogen">Br</div>
    <div class="box left noble">Kr</div>
  </div>
  <div class="row row5">
    <div class="box left alkali-metal">Rb</div>
    <div class="box left alkaline-earth">Sr</div>
    <div class="box left transition-metal">Y</div>
    <div class="box left transition-metal">Zr</div>
    <div class="box left transition-metal">Nb</div>
    <div class="box left transition-metal">Mo</div>
    <div class="box left transition-metal">Tc</div>
    <div class="box left transition-metal">Ru</div>
    <div class="box left transition-metal">Rh</div>
    <div class="box left transition-metal">Pd</div>
    <div class="box left transition-metal">Ag</div>
    <div class="box left transition-metal">Cd</div>
    <div class="box left basic-metal">In</div>
    <div class="box left basic-metal">Sn</div>
    <div class="box left semi-metal">Sb</div>
    <div class="box left semi-metal">Te</div>
    <div class="box left halogen">I</div>
    <div class="box left noble">Xe</div>
  </div>
  <div class="row row6">
    <div class="box left alkali-metal">Cs</div>
    <div class="box left alkaline-earth">Ba</div>
    <div class="box left lanthanide">*</div>
    <div class="box left transition-metal">Hf</div>
    <div class="box left transition-metal">Ta</div>
    <div class="box left transition-metal">W</div>
    <div class="box left transition-metal">Re</div>
    <div class="box left transition-metal">Os</div>
    <div class="box left transition-metal">Ir</div>
    <div class="box left transition-metal">Pt</div>
    <div class="box left transition-metal">Au</div>
    <div class="box left transition-metal">Hg</div>
    <div class="box left basic-metal">TI</div>
    <div class="box left basic-metal">Pb</div>
    <div class="box left basic-metal">Bi</div>
    <div class="box left semi-metal">Po</div>
    <div class="box left halogen">At</div>
    <div class="box left noble">Rn</div>
  </div>
  <div class="row row7">
    <div class="box left alkali-metal">Fr</div>
    <div class="box left alkaline-earth">Ra</div>
    <div class="box left actinide">*</div>
    <div class="box left transition-metal">Rf</div>
    <div class="box left transition-metal">Db</div>
    <div class="box left transition-metal">Sg</div>
    <div class="box left transition-metal">Bh</div>
    <div class="box left transition-metal">Hs</div>
    <div class="box left transition-metal">Mt</div>
    <div class="box left transition-metal">Ds</div>
    <div class="box left transition-metal">Rg</div>
    <div class="box left transition-metal">Cn</div>
    <div class="box left basic-metal">Uut</div>
    <div class="box left basic-metal">Fl</div>
    <div class="box left basic-metal">Uup</div>
    <div class="box left basic-metal">Lv</div>
    <div class="box left halogen">Uus</div>
    <div class="box left noble">Uuo</div>
  </div>

  <div class="aside">
    <div class="row row8">
      <div class="box left lanthanide">Le</div>
      <div class="box left lanthanide">Ce</div>
      <div class="box left lanthanide">Pr</div>
      <div class="box left lanthanide">Nd</div>
      <div class="box left lanthanide">Pm</div>
      <div class="box left lanthanide">Sm</div>
      <div class="box left lanthanide">Eu</div>
      <div class="box left lanthanide">Gd</div>
      <div class="box left lanthanide">Tb</div>
      <div class="box left lanthanide">Dy</div>
      <div class="box left lanthanide">Ho</div>
      <div class="box left lanthanide">Er</div>
      <div class="box left lanthanide">Tm</div>
      <div class="box left lanthanide">Yb</div>
      <div class="box left lanthanide">Lu</div>
    </div>
    <div class="row row9">
      <div class="box left actinide">Ac</div>
      <div class="box left actinide">Th</div>
      <div class="box left actinide">Pa</div>
      <div class="box left actinide">U</div>
      <div class="box left actinide">Np</div>
      <div class="box left actinide">Pu</div>
      <div class="box left actinide">Am</div>
      <div class="box left actinide">Cm</div>
      <div class="box left actinide">Bk</div>
      <div class="box left actinide">Cf</div>
      <div class="box left actinide">Es</div>
      <div class="box left actinide">Fm</div>
      <div class="box left actinide">Md</div>
      <div class="box left actinide">No</div>
      <div class="box left actinide">Lr</div>
    </div>
  </div>
</div>

